@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>С момента основания в 1988 году наша компания  -  динамично развивающееся производственное предприятие.

Постоянное внимание к качеству, активное использование новых технологий и долгосрочное планирование позволили предприятию занять уверенное положение среди производителей медицинской мебели.

Стремление соответствовать требованиям мирового рынка, использование передовых достижений научно-технического прогресса – вот залог качества и надежности нашей продукции.

В коллективе группы компаний «Медтехника Пинск» трудятся квалифицированные специалисты, имеющие опыт работы в иностранных производственных компаниях. Привлечение к процессу производства немецких инженеров и технологов дало возможность уменьшить время от идеи до готового изделия.

Добросовестное выполнения своих партнерских обязательств позволило нашей компании занять лидирующее место на белорусском рынке медицинской техники, постоянно расширять круг партнеров и укрепить деловые связи.

Мы являемся эксклюзивным представителем в Республике Беларусь следующих компаний:
W&P (Германия) - стоматологические материалы.
HERAEUS KULZER - материалы для лечения и пломбирования зубов, сплавы, карпульные иглы и многое другое.
SPOFA DENTAL – стоматологические материалы (EVIСROL, ADHESOR, YPEEN, REPIN, SPOFADENT® PLUS трехслойные акриловые зубы )
ЗАО «ОЭЗ ВладМиВа» - расходные стоматологические материалы для терапевтической и ортопедической стоматологии
ОАО «КМИЗ» - стоматологическое оборудование и комплектующие, вращающиеся инструменты, эндоканальные инструменты, ручные инструменты, иглы хирургические, рефлексотерапия
ЗАО «МИКРОН-ХОЛДИНГ» - стоматологические инструменты (турбинные, угловые, прямые наконечники, микромоторы)
Можайский МИЗ – медицинские инструменты для всех разделов медицины
ООО «ЭСТЭЙД-СЕРВИС» - штифты стекловолоконные.
АО «СТОМА» - стоматологические материалы, лекарственные средства.
ОАО «Медоборудование» г.Саранск – дезинфекционные камеры, аквадистилляторы.
МИЗ Нижний Тагил – медицинские инструменты и приборы
ООО «ЗАВЕТ» - физиотерапевтическое оборудование, аквадистилляторы.
АВЕРОН (Вега-про)  г. Екатеринбург
ЗАО "АДЬЮТОР"  г. Санкт-Петербург
</p>
