@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>

<address>
    Улица Я.Коласа, 28<br />
    <abbr title="Phone">P:</abbr>
    +375 29 229 79 78
</address>

<address>
    <strong>Связь:</strong>   <a href="mailto:unicore22@mail.ru">unicore22@mail.ru</a><br />
</address>